.container {
  height: 100vh;
  max-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 52px 112px 0px 152px;
  max-height: calc(100vh - 112px);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}

.titleContainer > div {
  display: flex;
  gap: 16px;
}

.titleContainer > div > button:first-child {
  background-color: var(--green);
  color: white;
}
.titleContainer > h2 {
  font-size: 48px;
  font-weight: 400;
}

.mainContainer > h3 {
  font-size: 32px;
  margin-bottom: 24px;
}
@media only screen and (max-width: 768px) {
  .container {
    height: auto;
    max-height: auto;
    min-height: 100svh;
  }
  .mainContainer {
    height: auto;
    width: auto;
    min-height: 100svh;
    padding: 0px 20px;
  }
}
