.container {
  min-width: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 48px;
  padding: 42px 24px 32px 24px;
}
.container h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 12px;
}
.container p {
  font-size: 14px;
}
.container a {
  align-self: flex-end;
}

.container button {
  height: 34px;
  width: 120px;
  border: solid 2px #000000;
  background-color: white;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 600;
}
