.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 30px 40px;
}
.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 42px;
  width: 300px;
}

.logoContainer > p {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.33);
  font-size: 24px;
}
.logoContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  gap: 22px;
  background-color: var(--black);
}
.adminContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 168px;
  font-size: 16px;
  border-radius: 34px;
}
.profileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 40px;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #667799;
  color: white;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  font-weight: 500;
  cursor: pointer;
}

.dropDownMenu {
  display: none;
}

.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  top: calc(100% + 8px);
  width: 260px;
  height: 100px;
  gap: 2px;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: 0px 4px 12.3px -2px rgba(0, 0, 0, 0.25);
}
.dropDownMenu::before {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white; /* Color of the arrow */
  content: "";
  cursor: pointer;
  transform: translateY(-6px) rotate(180deg); /* Adjust the position as needed */
}
.dropDownMenu p {
  font-size: 15px;
}
.dropDownMenu span {
  font-size: 14px;
  color: #667799;
}
.dropDownMenu button {
  display: block;
  width: 100%;
  height: 32px;
  background-color: var(--black);
  color: white;
  font-size: 14px;
  border-radius: 6px;
  margin-top: 4px;
}
