.container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 30px 40px;
}
.logoContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 42px;
  width: 300px;
}

.logoContainer > p {
  font-weight: 900;
  color: rgba(0, 0, 0, 0.33);
  font-size: 24px;
}
.logoContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 300;
  gap: 22px;
  background-color: var(--black);
}
.adminContainer {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 168px;
  font-size: 16px;
  border-radius: 34px;
}
.profileContainer {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 40px;
}
.profile {
  background-color: gainsboro;
  border-radius: 100%;
  height: 40px;
  width: 40px;
}
