.functionContainer {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 20px 12px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;
}
.functionContainer input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #868686;
  padding-bottom: 8px;
  width: 100%;
  font-size: 16px;
}
.functionContainer input:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.buttonContainer {
  display: flex;
  margin-top: 24px;
  gap: 32px;
}
.buttonContainer button {
  background-color: white;
  border: solid 1px var(--black);
}
.buttonContainer button:first-child {
  background-color: var(--black);
  color: white;
}
