.container {
  height: 100vh;
  max-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}
.mainSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 52px 112px 0px 152px;
  max-height: calc(100vh - 112px);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
}
.titleContainer input {
  background-color: transparent;
  border: none;
  width: 60%;
  font-size: 48px;
  margin-bottom: 24px;
  border-bottom: 1px solid #868686;
  padding-bottom: 8px;
}
.titleContainer input:focus {
  outline: none;
  border-bottom: 1px solid black;
}
.deviceDescription {
  background-color: transparent;
  border: none;
  width: 50%;
  font-size: calc(48px / 1.618);
  margin-bottom: 24px;
  border-bottom: 1px solid #868686;
  padding-bottom: 8px;
}

.deviceDescription:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.funcionTitle {
  font-size: 32px;
  font-weight: 500;
}

.addButton {
  width: 100%;
  border-radius: 4px;
  background-color: white;
  color: #c1c1c1;
  transition: 0.5s;
}
.addButton:hover {
  box-shadow: 0px 4px 39.8px -17px rgba(0, 0, 0, 0.25);
  transform: translateY(-2px);
}
